@import "tailwindcss";

@theme {
  --color-primary: #3B4ED9;
  --color-secondary: #FF9900;
  --color-navy: #1A1A1A;
  --color-lightBg: #F5F7FA;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {

  html,
  body {
    @apply font-sans bg-white text-navy antialiased overflow-x-hidden;
  }
}